/** @format */

* {
	box-sizing: border-box;
}

body {
	--accent-color: #2c4bff;
}

::marker {
	color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--accent-color);
}

.go-color-teal {
	color: #00bfa5;
}
